<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BankingApplication</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SignUpServlet</display-name>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>com.servlets.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/SignUpServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepositServlet</display-name>
    <servlet-name>DepositServlet</servlet-name>
    <servlet-class>com.servlets.DepositServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepositServlet</servlet-name>
    <url-pattern>/DepositServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WithdrawServlet</display-name>
    <servlet-name>WithdrawServlet</servlet-name>
    <servlet-class>com.servlets.WithdrawServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithdrawServlet</servlet-name>
    <url-pattern>/WithdrawServlet.do</url-pattern>
    <url-pattern>/WithdrawServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WithDraw</display-name>
    <servlet-name>WithDraw</servlet-name>
    <servlet-class>com.servlets.WithDraw</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithDraw</servlet-name>
    <url-pattern>/WithDraw.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrransferServlet</display-name>
    <servlet-name>TrransferServlet</servlet-name>
    <servlet-class>com.servlets.TrransferServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrransferServlet</servlet-name>
    <url-pattern>/TrransferServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OpenAccountServlet</display-name>
    <servlet-name>OpenAccountServlet</servlet-name>
    <servlet-class>com.servlets.OpenAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OpenAccountServlet</servlet-name>
    <url-pattern>/OpenAccountServlet.do</url-pattern>
  </servlet-mapping>
</web-app>